<template name="footer">
  <div class="ui sidebar visible black inverted vertical footer fixed bottom segment" style="padding: 0em 1em;">
    <!-- <div class="ui container" style="padding-bottom:20px;">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="four wide column">
          <img src="./images/ongame.png" style="width: 100%;float:left;padding-right:20px;    margin-bottom: 20px;">
          <div class="ui dropdown choosecurrency">
            <input type="hidden" name="currency" placeholder="{{translator 'COMMON_SELECT_CURRENCY'}}">
            <i class="dropdown icon"></i>
            <div class="default text">USD</div>
            <div class="menu">
              <div class="item" data-value="USD">
                $ USD</div>
              <div class="item" data-value="USDCAD">
                $ USD CAD</div>
              <div class="item" data-value="USDCNY">
                ¥ CNY</div>
              <div class="item" data-value="USDEUR">
                € EURO</div>
              <div class="item" data-value="USDGBP">
                £ GBP</div>
              <div class="item" data-value="USDIDR">
                Rp IDR</div>
              <div class="item" data-value="USDJPY">
                ¥ JPY</div>
              <div class="item" data-value="USDKRW">
                ₩ KRW</div>
              <div class="item" data-value="USDPHP">
                ₱ PHP</div>
              <div class="item" data-value="USDTRY">
                ‎₺ TRY</div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="ui grid stackable" style="margin:0px;">
        <div class="column" style="padding-bottom: 1rem!important;">
          <h5 class="ui header">2018 Ongame.io | {{translator "FOOTER_TERM"}} | {{translator "FOOTER_POLICY"}} | {{translator "FOOTER_LEGAL"}}
          </h5>
        </div>
      </div>
  </div>

</template>