<template name="leftsidebar">
    <div class="ui left labeled sidebar icon inverted vertical menu overlay visible" style="z-index: 9999;  width: 170px;padding-top: 60px;">
        <a href="/" class="item">
            <i class="ion-home icon"></i>
            Home
        </a>
        <a href="/news" class="item">
            <i class="ion-ios-pulse icon"></i>
            News
        </a>
        <a href="/games" class="item">
            <i class="ion-ios-game-controller-b icon"></i>
            Games
        </a>
        <a href="/livestreams" class="item">
            <i class="ion-ios-videocam icon"></i>
            Live Streams
        </a>
        <a href="/videos" class="item">
            <i class="ion-ios-play icon"></i>
            Videos
        </a>
        <a class="item disabled">
            <i class="ion-ios-people icon"></i>
            Team
        </a>
        <a href="/tournament" class="item">
            <i class="ion-trophy icon"></i>
            Tournament
        </a>
        <a href="/market" class="item">
            <i class="ion-ios-pricetag icon"></i>
            Market
        </a>
        <a class="item">
                <i class="ion-help icon"></i>
                Help
              </a>
        <!-- {{#with mainuser}}
        <a id="logout" class="item">
            <i class="ion-log-out icon"></i>
            Log Out
        </a>
        {{/with}} -->
    </div>
</template>