<template name="leftsidebarfriends">
        <div class="ui left sidebar friends labeled icon inverted vertical menu visible" style="padding-top: 60px;margin-left: 120px!important;">
            <a href="/" class="item">
                <i class="ion-home icon"></i>
                Home
            </a>
            <a href="/games" class="item">
                <i class="ion-ios-game-controller-b icon"></i>
                Games
            </a>
            <a href="/livestreams" class="item">
                <i class="ion-ios-videocam icon"></i>
                Live Streams
            </a>
            <a href="/videos" class="item">
                <i class="ion-ios-play icon"></i>
                Videos
            </a>
            <a href="/team" class="item disabled">
                <i class="ion-ios-people icon"></i>
                Team <div style="font-size:10px;">(Cooming Soon)</div>
            </a>
            <a href="/tournament" class="item disabled">
                <i class="ion-trophy icon"></i>
                Tournament <div style="font-size:10px;">(Cooming Soon)</div>
            </a>
        </div>
    </template>