<template name="gamesellcard">
  <div class="example-2 card eight wide">
    <a class="wrapper back noradius" style="min-height: 140px;">
      <div class="image lazy sellcard" style="max-height: 140px;">
        <img src="{{header_image}}" style="max-height: 140px;">
      </div>
      <!-- <div class="data">

      </div> -->

      <div class="tags">
      </div>
      <div class="data4" style="position:absolute;bottom: 0px">
          <div class="ui label green noradius" style="top:-10px;margin-left: -3px;">PRICE ${{normalizePrice price_overview.final}}</div>
      </div>
    </a>
  </div>
</template>