<template name="complete">
    <div class="ui purple segment top" style="margin-top:0px!important;">
    </div>
    <div class="ui middle inverted segment">
        <div class="ui grid center aligned padded">
            <div class="ui row huge header">THANK YOU FOR YOUR ORDER</div>
            <div class="ui mini header">Thank you for your payment! You will receive your game keys per memo in 24hours.</div>
        </div>
    </div>
    <div class="ui purple segment bottom">
    </div>
</template>