<template name="premiumship">
    <div class="ui grid column center aligned padded">
        <div class="ui row huge header" style="padding-top:2em;">ONGAME ELITE ACCESS</div>
    </div>
    <div class="ui grid left aligned stackable three column padded" style="width: 100%;padding: 1em;">
        <div class="four wide column" style="  height: 100%;box-shadow: 0px 0px 9px #6b07f8, 5px 3px 19px #000000;background: #0c0e12bb;">
            <div class="ui button fluid huge green inverted" style="margin-right: 0px;">BASIC PREMIUM MEMBERSHIP 34.90$</div>
            <div class="content" style="padding-top: 2em;">
                <div class="ui grid two column stackable"></div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid black" style="padding-right: 35px;border-radius: 0px;">ONE GAME
                        PER WEEK FOR A MONTHLY
                        TOTAL VALUE (AT LESS) OF :</div>
                    <div class="ui button purple right floated mini ongame circular" style="position: absolute;
right: 15px;
height: 30px;
width: 30px;
padding: 9px 3px;
margin-top: 3px;">$50</div>
                </div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid  black" style="margin-right: 0px;background: #11151a!important;border-radius: 0px;">STEEM
                        POWER DELEGATION FROM ONGAME
                    </div>
                    <span class="ui button mini purple ongame circular right floated" style="position: absolute;
  right: 18px;
height: 22px;
width: 22px;
padding: 4px;
margin-top: 3px;">10</span>
                </div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid  black" style="margin-right: 0px; ">MONTHLY
                        INVITATION FOR FRIENDS
                    </div>
                    <span class="ui button mini purple ongame circular right floated" style="position: absolute;
right: 18px;
height: 22px;
width: 22px;
padding: 4px;
margin-top: 3px;">+1</span>
                </div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid  black" style="margin-right: 0px;background: #11151a!important;border-radius: 0px;">GET
                        SPECIAL BADGE
                    </div>
                    <span class="ui button mini red ongame circular right floated" style="position: absolute;
right: 20px;
height: 18px;
width: 18px;
padding: 3px;
margin-top: 3px;">+</span>
                </div>
            </div>
            <div class="ui button massive purple fluid subscribe disabled" id="basic">SUBSCRIBE
                NOW!</div>

        </div>
        <div class="two wide column"></div>

        <div class="four wide column" style="height: 100%;box-shadow: 0px 0px 9px #6b07f8, 5px 3px 19px #000000;background: #0c0e12bb;">
            <div class="ui button huge fluid yellow inverted" style="margin-right: 0px;">GOLD PREMIUM MEMBERSHIP 69.90$</div>
            <div class="content" style="padding-top: 2em;">
                <div class="ui grid two column stackable"></div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid black" style="padding-right: 35px;">ONE GAME
                        PER WEEK FOR A MONTHLY
                        TOTAL VALUE (AT LESS) OF :</div>
                    <div class="ui button purple right floated mini ongame circular" style="position: absolute;
right: 15px;
height: 30px;
width: 30px;
padding: 9px 3px;
margin-top: 3px;">$80</div>
                </div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid  black" style="margin-right: 0px;background: #11151a!important;border-radius: 0px;">STEEM
                        POWER DELEGATION FROM ONGAME
                    </div>
                    <span class="ui button mini purple ongame circular right floated" style="position: absolute;
  right: 18px;
height: 22px;
width: 22px;
padding: 4px;
margin-top: 3px;">20</span>
                </div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid  black" style="margin-right: 0px; ">MONTHLY
                        INVITATION FOR FRIENDS
                    </div>
                    <span class="ui button mini purple ongame circular right floated" style="position: absolute;
right: 18px;
height: 22px;
width: 22px;
padding: 4px;
margin-top: 3px;">+2</span>
                </div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid  black" style="margin-right: 0px;background: #11151a!important;border-radius: 0px;">GET
                        SPECIAL BADGE
                    </div>
                    <span class="ui button mini red ongame circular right floated" style="position: absolute;
right: 20px;
height: 18px;
width: 18px;
padding: 3px;
margin-top: 3px;">+</span>
                </div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid  black" style="margin-right: 0px;">GET SPECIAL TITLE
                    </div>
                    <span class="ui button mini red ongame circular right floated" style="position: absolute;
right: 20px;
height: 18px;
width: 18px;
padding: 3px;
margin-top: 3px;">+</span>
                </div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid  black" style="margin-right: 0px;">1% OFF ONGAME PURCHASES
                    </div>
                    <span class="ui button mini red ongame circular right floated" style="position: absolute;
right: 20px;
height: 18px;
width: 18px;
padding: 3px;
margin-top: 3px;">+</span>
                </div>
            </div>
            <div class="ui button massive purple fluid subscribe disabled" id="gold">SUBSCRIBE
                NOW!</div>

        </div>
        <div class="two wide column"></div>
        <div class="four wide column" style=" height: 100%;box-shadow: 0px 0px 9px #6b07f8, 5px 3px 19px #000000;background: #0c0e12bb;">
            <div class="ui button huge fluid inverted" style="margin-right: 0px;">DIAMOND PREMIUM MEMBERSHIP 109.90$</div>
            <div class="content" style="padding-top: 2em;">
                <div class="ui grid two column stackable"></div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid black" style="padding-right: 35px;">ONE GAME
                        PER WEEK FOR A MONTHLY
                        TOTAL VALUE (AT LESS) OF :</div>
                    <div class="ui button purple right floated mini ongame circular" style="position: absolute;
right: 15px;
height: 30px;
width: 30px;
padding: 9px 3px;
margin-top: 3px;">$120</div>
                </div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid  black" style="margin-right: 0px;background: #11151a!important;border-radius: 0px;">STEEM
                        POWER DELEGATION FROM ONGAME
                    </div>
                    <span class="ui button mini purple ongame circular right floated" style="position: absolute;
 right: 18px;
  height: 22px;
  width: 22px;
  padding: 4px;
  margin-top: 3px;">35</span>
                </div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid  black" style="margin-right: 0px; ">MONTHLY
                        INVITATION FOR FRIENDS
                    </div>
                    <span class="ui button mini purple ongame circular right floated" style="position: absolute;
right: 18px;
height: 22px;
width: 22px;
padding: 4px;
margin-top: 3px;">+3</span>
                </div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid  black" style="margin-right: 0px;background: #11151a!important;border-radius: 0px;">GET
                        SPECIAL BADGE
                    </div>
                    <span class="ui button mini red ongame circular right floated" style="position: absolute;
right: 20px;
height: 18px;
width: 18px;
padding: 3px;
margin-top: 3px;">+</span>
                </div>
                <div class="column" style="display: flex;">
                    <div class="ui label fluid  black" style="margin-right: 0px;">GET SPECIAL TITLE
                    </div>
                    <span class="ui button mini red ongame circular right floated" style="position: absolute;
right: 20px;
height: 18px;
width: 18px;
padding: 3px;
margin-top: 3px;">+</span>
                </div>
                <!-- <div class="column" style="display: flex;">
  <div class="ui label fluid  black" style="margin-right: 0px;background: #11151a!important;border-radius: 0px;">CUSTOM TITLE
  </div>
  <span class="ui button mini red ongame circular right floated" style="position: absolute;
  right: 20px;
  height: 18px;
  width: 18px;
  padding: 3px;
  margin-top: 3px;">+</span>
</div> -->
                <div class="column" style="display: flex;">
                    <div class="ui label fluid  black" style="margin-right: 0px;">2% OFF ONGAME PURCHASES
                    </div>
                    <span class="ui button mini red ongame circular right floated" style="position: absolute;
 right: 20px;
 height: 18px;
 width: 18px;
 padding: 3px;
 margin-top: 3px;">+</span>
                </div>
            </div>
            <div class="ui button massive purple fluid subscribe disabled" id="diamond">SUBSCRIBE NOW!</div>
        </div>
    </div>
    <div class="ui row header" style="margin-bottom: 0px;
padding-bottom: 1em;">NOVEMBER GAMES</div>
    <div class="ui grid divided doubling stackable seven cards padded" style="max-width: 100%;">
        {{#if premiumGames}}
        {{#each premiumGames}}
        <div class="example-2 card eight wide">
            <a href="/game-{{steam_appid}}" class="wrapper back noradius" style="min-height: 80px;height: 80px;">
                <div class="image lazy" style="max-height: 80px;">
                    <img src="{{header_image}}">
                </div>
                <div class="data">

                </div>

                <div class="tags">
                </div>
                <div class="data">
                    <div class="ui label green noradius mini" style=" left:0px;bottom: 0px;position: absolute;">${{normalizePrice
                        price_overview.final}}</div>
                </div>
                <div class="data3">
                    <!-- <div class="ui title huge header">{{shortDescription name}}</div> -->
                </div>
            </a>
        </div>
        {{/each}}
        <div class="ui row huge header" style="margin-bottom: 1em;">AND MANY MORE...</div>
        {{else}}
        <div class="ui active dimmer ongame">
            <div class="ui massive text loader purple ongame">Loading Premium games</div>
        </div>
        {{/if}}
    </div>

</template>