<template name="singlegametop">
    <div style="width: 100%;padding: 0px;    position: inherit;">
        {{#if header_image}}
        <div class="ui grid padded two column stackable doubling ">
            <div class="seven wide column cover" style="padding-bottom: 0px;    min-width: 190px;">
                <img src="{{header_image}}" style="width: 100%;border-radius: 0px 0px 10px 0px;
                box-shadow: 0px 0px 5px #6b08f8, 5px 5px 10px black;
            ">
            </div>
            {{#if metacritic.score}}
            <div class="ui purple label top right attached noradius">{{metacritic.score}}</div>
            {{/if}}
            <div class="nine wide column stackable" style="padding-left:1em;padding-right: 1em;    min-width: 194px;">
                <div class="ui aligned header" style="margin-top: 1em;">
                    <div class="ui huge header" style="    margin-bottom: 0px;">
                        {{name}}
                    </div>
                    <div>
                        {{#each categories}}
                        {{#if filterCategories description}}
                        <div class="ui mini red ongame button" style="    padding: 4px;
                        font-size: 0.5em;">{{description}}</div>
                        {{/if}}
                        {{/each}}
                        {{#each genres}}
                        <div class="ui mini blue ongame button" style="    padding: 4px;
                        font-size: 0.5em;">{{description}}</div>
                        {{/each}}
                    </div>
                    <div class="ui mini purple ongame button" style="    padding: 4px;
                    font-size: 0.5em;">Release Date : {{release_date.date}}</div>
                </div>
                <div>
                    {{short_description}}
                </div>
            </div>
        </div>
        {{else}}
        <div class="ui top cover" style="background-image:url({{background}});"></div>
        {{/if}}
    </div>
</template>